RewriteEngine on
RewriteBase /ShoppingControl/
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ index.php

# Default User: SCUser
# Default Password: 4wnjZrHjVR6btwNmpfF0KUhPjeBR41Id

AuthUserFile /var/www/ShoppingControl/www/.htpasswd
AuthGroupFile /dev/null
AuthName Intern
AuthType Basic
<Limit GET>
require valid-user
</Limit>