body {
	background: #c79854 url(../img/pattern-wood.jpg);
	color: #369;
	font-family: helvetica, verdana, sans-serif;
	font-size: 1em;
}

a,input, select {
	padding: 6px;
	display: block;
	color: #369;
	border: 1px solid #a9a9a9;
	margin: 6px 0px;
}

a {
	background: rgba(255, 255, 255, 0.8) url('../img/listArrow.png') no-repeat right 50%;
	border: 1px solid #eee;
}

a:hover {
	background-color: rgba(255, 255, 255, 0.95);
}

h1 {
	margin: 0;
}

h2 {
	margin-top: 0;
}

h2.monthname {
	float: left;
}

input, select {
	width: calc(100% - 14px);
	color: #369;
	font-size: 1em;
}

select {
	width: 100%;
}

input[type="submit"] {
	background: #998D37;
	color: #EAF067;
	width: 100%;
	margin-top: 30px;
	height: 40px;
}

input.new-entry {
	background: #998D37 url(../img/icon-add.png) no-repeat left center;
}

.content-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.floating-correction {
	clear: both;
}

.content {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #eee;
	padding: 0.5em;
	clear: both;
}

.message {
	background-color: #eee;
	color: #000;
	padding: 0.2em;
}

div.message {
	margin-bottom: 0.4em;
}

.message p {
	margin-top: 0;
	margin-bottom: 0.5em;
}

/** Rest is negative */
.month-rest-0 {
	background-color: #D81919;
	color: #fff;
	padding: 0.2em;
	margin: 0.3em 0;
}

/** Rest is positive */
.month-rest-1 {
	background-color: #2ABB16;
	color: #339;
	padding: 0.2em;
	margin: 0.3em 0;
}

.copyright {
	margin-top: 1em;
	text-align: center;
	color: #fff;
	font-size: 14px;
}

.copyright a {
	padding: 0;
	display: inline;
	color: #fff;
	border: 0;
	margin: 0;
	background: none;
}

table {
	width: 100%;
	border-width: 1px;
	border-style: solid none none solid;
	border-color: #369;
}

table td {
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #369;
}

table.overview {
	border-style: solid;
}

table.overview .year {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: #379;
	color: #fff;
	padding: 6px;
	cursor: pointer;
}

table.overview .hidden {
	display: none;
}

table.overview tr:hover {
	background-color: #379;
	color: #fff;
}

table.overview td {
	border-style: none none solid none;
}

table.overview td a:hover {
	background-color: #379;
}

table.overview th {
	width: 25%;
	background-color: #379;
	border-bottom: 1px solid #ddd;
	color: #fff;
	font-weight: bold;
	text-align: left;
}

table.overview td {
	width: 25%;
}

table.overview a {
	border-width: 0px;
	text-decoration: none;
	background-image: none;
}

table.overview tr:hover a {
	color: #fff;
}

table.overview .amount {
	text-align: right;
	vertical-align: top;
}

table.overview .total {
	border-top: 1px solid #fff;
	background-color: #379;
	color: #fff;
	font-weight: bold;
}

table.overview .delete-purchase {
	display: none;
	width: 4%;
	padding-left: 6px;
}

.edit-purchases {
	border: 1px solid #aaa;
	padding: 6px;
	width: 150px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #369;
}

.edit-purchases-buttons {
	float: right;
}

.edit-purchases-buttons .delete,.edit-purchases-buttons .cancel {
	display: none;
}

.edit-purchases:active {
	background-color: #369;
	color: #fff;
}

.header {
	padding: 6px 13px 6px 45px;
	color: white;
	background: #369 url(../img/shopping-control.png) no-repeat 5px 50%;
	clear: both;
	margin-bottom: 6px;
	position: relative;
}

.header .name {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	display: block;
}

.header .navigation-trigger {
	float: right;
	position: relative;
	top: 8px;
	cursor: pointer;
	display: none
}

.header .navigation-trigger.active {
	display: inline;
}

#newshop {
	display: none;
}

.header .navigation {
	display: none;
	position: absolute;
	width: 100%;
	right: 0;
	top: 100%;
	background-color: #369;
	border-top: 5px solid #2BB0C2;
}

.header .navigation a {
	background-color: transparent;
	background-image: url(../img/listArrow-inverse.png);
	text-decoration: none;
	color: #fff;
	border-style: none none solid none;
	border-color: #2BB0C2;
}

.header .navigation a:last-child {
	border: none;
}

.header .navigation span {
	position: relative;
	top: -9px;
	left: 6px;
}

.header h1 a, .header .logininfo {
	display: inline;
	background: none;
	border: none;
	color: #fff;
	padding: 0;
	margin: 0;
	text-decoration: none;
}