body {
	background-color: #1B2164;
	color: #fff;
	font-family: helvetica, verdana, sans-serif;
	font-size: 1em;
}

a,div,p {
	border-radius: 7px;
}

a,input {
	padding: 6px;
	display: block;
	color: #fff;
	border: 1px solid #369;
	margin: 6px 0px;
}

h2 {
	margin-top: 0;
}

input {
	width: 98%;
	color: #000;
	font-size: 1em;
	border-radius: 7px;
}

input[type="submit"] {
	background-color: #fff;
}

.floating-correction {
	clear: both;
}

a:hover,table.overview tr:hover {
	background-color: #369;
	color: #fff;
}

.content {
	background-color: #059;
	padding: 0.5em;
	border-radius: 15px;
	background-image: url(../img/shopping-control.png);
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 5px;
}

.message {
	background-color: #369;
	color: #fff;
	padding: 0.2em;
}

div.message {
	margin-bottom: 0.4em;
}

.message p {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.month-rest {
	background-color: #2CE314;
	padding: 0.2em;
	margin: 0.3em 0;
}

.copyright {
	margin-top: 2em;
	text-align: center;
}

table {
	width: 100%;
	border-width: 1px;
	border-style: solid none none solid;
	border-color: #369;
}

table td {
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #369;
}

table.overview {
	border-style: solid;
}

table.overview td {
	border-style: none none solid none;
}

table.overview th {
	width: 25%;
	background-color: #7B8794;
	color: #fff;
	font-weight: bold;
	text-align: left;
}

table.overview td {
	width: 25%;
}

table.overview a {
	border-width: 0px;
	text-decoration: none;
	background-image: none;
}

table.overview .amount {
	text-align: right;
	vertical-align: top;
}

table.overview .total {
	background-color: #7B8794;
	color: #fff;
	font-weight: bold;
}

table.overview .delete-purchase {
	display: none;
	width: 4%;
	padding-left: 6px;
}

.edit-purchases {
	border: 1px solid #369;
	padding: 6px;
	width: 150px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.edit-purchases-buttons {
	float: right;
}

.edit-purchases-buttons .delete,.edit-purchases-buttons .cancel {
	display: none;
}

.edit-purchases:active {
	background-color: #369;
	color: #fff;
}

.logininfo {
	padding: 6px;
	background-color: #369;
	color: white;
	text-align: right;
}